ul,
li {
  list-style-type: none;
  text-align: left;
  margin-right: 40px;
}

label {
  display: block;
}

span {
  display: inline-block;
  text-align: left;
  width: 100px;
  padding-bottom: 20px;
}

.input {
  margin-left: 20px;
}

.value {
  width: 40px;
  margin-left: 5px;
  text-align: center;
}

.square {
  display: inline-block;
  text-align: center;
  height: 100px;
  width: 100px;
  border: 1px black;
  border-style: dotted;
}

.wrapper {
  display: inline-block;
  text-align: center;
}

body {
  display: block;
  text-align: center;
}

button {
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  height: 1.25rem;
  width: 5rem;
}
